# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.save

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
.virtual_documents/

# =========================
# OS
# =========================
.DS_Store

# =========================
# Local data (generated)
# =========================
data/
outputs/*.png
outputs/*.csv
